USE [master]
GO
/****** Object:  Database [BaseDatosDiresa]    Script Date: 4/03/2026 08:35:04 ******/
CREATE DATABASE [BaseDatosDiresa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseDatosDiresa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BaseDatosDiresa.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseDatosDiresa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BaseDatosDiresa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseDatosDiresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseDatosDiresa]
GO
/****** Object:  User [sistemas_admin]    Script Date: 4/03/2026 08:35:04 ******/
CREATE USER [sistemas_admin] FOR LOGIN [sistemas_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [rrhh_user]    Script Date: 4/03/2026 08:35:04 ******/
CREATE USER [rrhh_user] FOR LOGIN [rrhh_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [jhonson]    Script Date: 4/03/2026 08:35:04 ******/
CREATE USER [jhonson] FOR LOGIN [jhonson] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [DB_Rol_Sistemas]    Script Date: 4/03/2026 08:35:04 ******/
CREATE ROLE [DB_Rol_Sistemas]
GO
/****** Object:  DatabaseRole [DB_Rol_RRHH_Consulta]    Script Date: 4/03/2026 08:35:04 ******/
CREATE ROLE [DB_Rol_RRHH_Consulta]
GO
/****** Object:  DatabaseRole [DB_Rol_Administrador_Legajos]    Script Date: 4/03/2026 08:35:04 ******/
CREATE ROLE [DB_Rol_Administrador_Legajos]
GO
ALTER ROLE [DB_Rol_Sistemas] ADD MEMBER [sistemas_admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [sistemas_admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [sistemas_admin]
GO
ALTER ROLE [DB_Rol_RRHH_Consulta] ADD MEMBER [rrhh_user]
GO
ALTER ROLE [DB_Rol_Administrador_Legajos] ADD MEMBER [jhonson]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [DB_Rol_Sistemas]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_nombre_completo]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- 3. FUNCIONES, VISTAS Y TRIGGERS
-- ============================================

-- ------- FUNCIONES -------
CREATE FUNCTION [dbo].[fn_nombre_completo] (@id_personal INT)
RETURNS VARCHAR(150)
AS
BEGIN
    DECLARE @nombre_completo VARCHAR(150);
    SELECT @nombre_completo = CONCAT(nombres, ' ', apellidos)
    FROM personal WHERE id_personal = @id_personal;
    RETURN @nombre_completo;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_obtener_id_usuario_actual]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_obtener_id_usuario_actual]()
RETURNS INT
AS
BEGIN
    -- NOTA: La aplicación debe pasar el ID del usuario a los SPs para una auditoría segura.
    -- Esta función es un placeholder.
    DECLARE @id_usuario INT = NULL;
    RETURN @id_usuario;
END;
GO
/****** Object:  Table [dbo].[unidad_administrativa]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidad_administrativa](
	[id_unidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[ubicacion] [varchar](150) NULL,
	[responsable] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal](
	[id_personal] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[direccion] [varchar](200) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[estado_civil] [varchar](20) NULL,
	[nacionalidad] [varchar](50) NULL,
	[id_unidad] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_ingreso] [date] NULL,
	[fecha_registro] [datetime] NULL,
	[email_personal] [varchar](100) NULL,
	[id_cargo] [int] NULL,
	[id_tipo_contrato] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_legajos_rrhh]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ------- VISTAS -------
CREATE VIEW [dbo].[vw_legajos_rrhh] AS
SELECT p.id_personal, p.dni, p.nombres, p.apellidos, ua.nombre AS nombre_unidad, p.activo AS personal_activo
FROM personal p
JOIN unidad_administrativa ua ON ua.id_unidad = p.id_unidad;
GO
/****** Object:  Table [dbo].[record_laboral]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[record_laboral](
	[id_record] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[anio] [int] NULL,
	[mes] [int] NULL,
	[dia] [int] NULL,
	[hora] [nvarchar](8) NULL,
	[nombre_archivo] [nvarchar](255) NULL,
	[archivo_binario] [varbinary](max) NULL,
	[descripcion] [nvarchar](500) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin_vencimiento] [date] NULL,
	[fecha_registro] [datetime] NULL,
	[activo] [bit] NULL,
	[fecha_eliminacion] [datetime] NULL,
	[archivo_ruta] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_documento]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documento](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documentos]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentos](
	[id_documento] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[id_seccion] [int] NOT NULL,
	[nombre_archivo] [varchar](200) NOT NULL,
	[fecha_subida] [datetime] NOT NULL,
	[fecha_emision] [date] NULL,
	[fecha_vencimiento] [date] NULL,
	[descripcion] [varchar](500) NULL,
	[archivo_guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[archivo] [varbinary](max) NULL,
	[hash_archivo] [varchar](64) NULL,
	[activo] [bit] NOT NULL,
	[fecha_eliminacion] [datetime] NULL,
	[checksum_sha256] [varchar](64) NULL,
	[tamanio_bytes] [bigint] NULL,
	[tipo_detectado] [varchar](10) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[archivo_guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_auditoria_papelera_unificada]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_auditoria_papelera_unificada] AS
-- Parte 1: Legajos
SELECT 
    d.id_documento AS id_interno,
    d.nombre_archivo,
    p.apellidos + ', ' + p.nombres AS personal,
    p.dni,               -- NUEVA
    d.descripcion,      -- NUEVA
    'LEGAJO' AS modulo,
    td.nombre_tipo AS tipo_doc,
    d.fecha_eliminacion AS fecha_accion
FROM documentos d
JOIN personal p ON d.id_personal = p.id_personal
JOIN tipo_documento td ON d.id_tipo = td.id_tipo
WHERE d.activo = 0

UNION ALL

-- Parte 2: Récords Laborales
SELECT 
    rl.id_record AS id_interno,
    rl.nombre_archivo,
    p.apellidos + ', ' + p.nombres AS personal,
    p.dni,               -- NUEVA
    rl.descripcion,      -- NUEVA
    'RÉCORD LABORAL' AS modulo,
    'Boleta/Pago' AS tipo_doc,
    rl.fecha_eliminacion AS fecha_accion
FROM record_laboral rl
JOIN personal p ON rl.id_personal = p.id_personal
WHERE rl.activo = 0;
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[ultimo_login] [datetime] NULL,
	[two_factor_code] [nvarchar](255) NULL,
	[two_factor_expiry] [datetime] NULL,
	[email] [varchar](100) NULL,
	[intentos_fallidos] [int] NULL,
	[ultima_intento_fallido] [datetime] NULL,
	[bloqueado_hasta] [datetime] NULL,
	[id_personal] [int] NULL,
	[foto_perfil] [varchar](255) NULL,
	[nombre_completo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[fecha_hora] [datetime] NOT NULL,
	[modulo] [varchar](50) NOT NULL,
	[accion] [varchar](50) NOT NULL,
	[descripcion] [varchar](1000) NULL,
	[detalle_json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_log_sistemas]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_log_sistemas] AS
SELECT b.fecha_hora, COALESCE(u.username, 'Sistema/Trigger') AS username_accion, b.modulo, b.accion, b.descripcion, b.detalle_json
FROM bitacora b
LEFT JOIN usuarios u ON b.id_usuario = u.id_usuario;
GO
/****** Object:  Table [dbo].[solicitudes_modificacion]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes_modificacion](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[id_usuario_solicitante] [int] NOT NULL,
	[fecha_solicitud] [datetime] NOT NULL,
	[campo_modificado] [varchar](100) NOT NULL,
	[valor_anterior] [varchar](500) NULL,
	[valor_nuevo] [varchar](500) NULL,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [varchar](500) NULL,
	[id_usuario_revisor] [int] NULL,
	[fecha_revision] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_solicitudes_pendientes]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_solicitudes_pendientes] AS
SELECT s.id_solicitud, s.fecha_solicitud, dbo.fn_nombre_completo(s.id_personal) AS nombre_completo_personal, p.dni, u.username AS usuario_solicitante,
       s.campo_modificado, s.valor_anterior, s.valor_nuevo
FROM solicitudes_modificacion s
JOIN personal p ON s.id_personal = p.id_personal
JOIN usuarios u ON s.id_usuario_solicitante = u.id_usuario
WHERE s.estado = 'pendiente';
GO
/****** Object:  Table [dbo].[legajo_secciones]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[legajo_secciones](
	[id_seccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_seccion] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LegajoCompleto_Detallado]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. (Opcional pero recomendado) Modificar la vista para que no muestre documentos eliminados
CREATE VIEW [dbo].[vw_LegajoCompleto_Detallado] AS
SELECT p.id_personal, p.dni, CONCAT(p.apellidos, ', ', p.nombres) AS nombre_completo,
       ls.id_seccion, ls.nombre_seccion, d.id_documento, td.nombre_tipo, d.descripcion, d.fecha_emision, d.nombre_archivo,
       (CASE WHEN d.archivo IS NULL THEN 0 ELSE 1 END) AS tiene_archivo_adjunto
FROM personal p
LEFT JOIN documentos d ON p.id_personal = d.id_personal
LEFT JOIN legajo_secciones ls ON d.id_seccion = ls.id_seccion
LEFT JOIN tipo_documento td ON d.id_tipo = td.id_tipo
WHERE d.activo = 1; -- Se añade esta línea para filtrar solo los activos
GO
/****** Object:  Table [dbo].[bitacora_bloqueos]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora_bloqueos](
	[id_bloqueo] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[username] [nvarchar](50) NULL,
	[intentos_fallidos] [int] NULL,
	[fecha_bloqueo] [datetime] NULL,
	[tipo_bloqueo] [nvarchar](50) NULL,
	[fecha_desbloqueo] [datetime] NULL,
	[razon] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bloqueo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora_errores]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora_errores](
	[id_error] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NULL,
	[modulo_ruta] [varchar](255) NULL,
	[tipo_error] [varchar](100) NULL,
	[mensaje] [nvarchar](max) NULL,
	[stacktrace] [nvarchar](max) NULL,
	[usuario_id] [int] NULL,
	[archivo] [varchar](255) NULL,
	[linea] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_error] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[capacitaciones]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[capacitaciones](
	[id_capacitacion] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[nombre_evento] [varchar](100) NOT NULL,
	[organizador] [varchar](100) NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[duracion_horas] [int] NULL,
	[ruta_certificado] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cargos]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cargo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogo_conceptos]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogo_conceptos](
	[id_concepto] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[nombre_concepto] [varchar](100) NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_concepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[configuracion_seguridad]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuracion_seguridad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave_actual] [varchar](20) NOT NULL,
	[fecha_generacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contratos]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contratos](
	[id_contrato] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[id_tipo_contrato] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[modalidad] [varchar](50) NULL,
	[sueldo] [decimal](12, 2) NOT NULL,
	[resolucion] [varchar](300) NULL,
	[id_cargo] [int] NULL,
	[nombre_archivo_real] [varchar](255) NULL,
	[fecha_registro_auditoria] [datetime] NULL,
	[archivo_binario] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuarentena_archivos]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuarentena_archivos](
	[id_cuarentena] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[nombre_original] [nvarchar](255) NULL,
	[ruta_cuarentena] [nvarchar](500) NULL,
	[razon_cuarentena] [nvarchar](255) NULL,
	[tipo_archivo_detectado] [varchar](10) NULL,
	[tamanio_bytes] [bigint] NULL,
	[fecha_cuarentena] [datetime] NULL,
	[fecha_revision] [datetime] NULL,
	[estado] [nvarchar](50) NULL,
	[revisado_por] [int] NULL,
	[accion_final] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuarentena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_conceptos_trabajador]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_conceptos_trabajador](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_detalle] [int] NOT NULL,
	[id_concepto] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_planilla]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_planilla](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_planilla] [int] NOT NULL,
	[id_personal] [int] NOT NULL,
	[dni_trabajador] [varchar](15) NULL,
	[nombre_completo] [varchar](200) NULL,
	[cargo_actual] [varchar](100) NULL,
	[sistema_pensionario] [varchar](50) NULL,
	[dias_laborados] [int] NULL,
	[sueldo_basico] [decimal](10, 2) NULL,
	[asignacion_familiar] [decimal](10, 2) NULL,
	[bonificaciones] [decimal](10, 2) NULL,
	[reintegros] [decimal](10, 2) NULL,
	[total_ingresos] [decimal](10, 2) NULL,
	[monto_pension] [decimal](10, 2) NULL,
	[faltas_tardanzas] [decimal](10, 2) NULL,
	[judiciales] [decimal](10, 2) NULL,
	[otros_descuentos] [decimal](10, 2) NULL,
	[total_descuentos] [decimal](10, 2) NULL,
	[aporte_essalud] [decimal](10, 2) NULL,
	[neto_pagar] [decimal](10, 2) NULL,
	[rps] [decimal](10, 2) NULL,
	[sctr_onp] [decimal](10, 2) NULL,
	[sctr] [decimal](10, 2) NULL,
	[cts] [decimal](10, 2) NULL,
	[nocuenta] [varchar](50) NULL,
	[dias_falta] [int] NULL,
	[observaciones] [varchar](500) NULL,
	[essalud_vida] [decimal](10, 2) NULL,
	[renta_4ta_5ta] [decimal](10, 2) NULL,
	[es_sindicalizado] [bit] NULL,
	[desc_sindicato] [decimal](10, 2) NULL,
	[aporte_sindicato] [decimal](10, 2) NULL,
	[mon_aseg] [decimal](10, 2) NULL,
	[ncobrar] [varchar](50) NULL,
	[d_viatico] [decimal](10, 2) NULL,
	[archivo_boleta] [varbinary](max) NULL,
	[fecha_generacion_boleta] [datetime] NULL,
	[glosa_bonos] [varchar](1000) NULL,
	[glosa_otros] [varchar](1000) NULL,
	[id_tipo_contrato] [int] NULL,
	[actividad] [varchar](150) NULL,
	[meta] [varchar](50) NULL,
	[nivel] [varchar](20) NULL,
	[condicion_laboral] [varchar](50) NULL,
	[tipo_trabajador] [varchar](50) NULL,
	[ubicacion] [varchar](150) NULL,
	[cuspp] [varchar](50) NULL,
	[cuenta_cts] [varchar](50) NULL,
	[autogenerado] [varchar](50) NULL,
	[fecha_ingreso_afp] [date] NULL,
	[fotocheck] [varchar](50) NULL,
	[dias_computables] [int] NULL,
	[dias_subsidiados] [int] NULL,
	[horas_laboradas] [int] NULL,
	[tasa_sctr] [decimal](5, 2) NULL,
	[d_medico] [int] NULL,
	[d_vacaciones] [int] NULL,
	[d_permisos] [int] NULL,
	[d_suspensiones] [int] NULL,
	[d_otros_inasis] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudios]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudios](
	[id_estudio] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[nivel_educativo] [varchar](50) NOT NULL,
	[institucion] [varchar](100) NOT NULL,
	[carrera] [varchar](100) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[titulo_obtenido] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_laboral]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_laboral](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[id_cargo] [int] NOT NULL,
	[id_unidad] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[motivo_salida] [varchar](300) NULL,
	[id_tipo_contrato] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[licencias]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[licencias](
	[id_licencia] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[id_tipo_licencia] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[resolucion] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_licencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planillas]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planillas](
	[id_planilla] [int] IDENTITY(1,1) NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [int] NOT NULL,
	[tipo_planilla] [varchar](50) NOT NULL,
	[numero_planilla] [varchar](20) NULL,
	[fecha_apertura] [datetime] NULL,
	[fecha_cierre] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[observaciones] [varchar](max) NULL,
	[pdf_generado] [bit] NULL,
	[eliminado] [bit] NULL,
	[fecha_eliminacion] [datetime] NULL,
	[usuario_eliminacion_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_planilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seccion_x_tipo_documento]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seccion_x_tipo_documento](
	[id_seccion] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_seccion] ASC,
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes_arco]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes_arco](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[tipo_solicitud] [varchar](50) NULL,
	[datos_afectados] [varchar](max) NULL,
	[motivo_solicitud] [varchar](max) NULL,
	[fecha_solicitud] [datetime] NULL,
	[estado] [varchar](20) NULL,
	[fecha_atencion] [datetime] NULL,
	[observacion_atencion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes_tramite]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes_tramite](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_personal] [int] NOT NULL,
	[tipo_tramite] [varchar](100) NOT NULL,
	[descripcion] [text] NOT NULL,
	[estado] [varchar](20) NULL,
	[respuesta_admin] [text] NULL,
	[fecha_solicitud] [datetime] NULL,
	[fecha_respuesta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_documento_seccion_relacion]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documento_seccion_relacion](
	[id_tipo_documento] [int] NOT NULL,
	[id_seccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_documento] ASC,
	[id_seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_contrato]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_contrato](
	[id_tipo_contrato] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_licencia]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_licencia](
	[id_tipo_licencia] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_licencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bitacora_FechaHora]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_FechaHora] ON [dbo].[bitacora]
(
	[fecha_hora] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bitacora_ModuloAccion]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_ModuloAccion] ON [dbo].[bitacora]
(
	[modulo] ASC,
	[accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bitacora_Usuario]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Usuario] ON [dbo].[bitacora]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_bitacora_bloqueos_fecha]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [idx_bitacora_bloqueos_fecha] ON [dbo].[bitacora_bloqueos]
(
	[fecha_bloqueo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Capacitaciones_PersonalID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Capacitaciones_PersonalID] ON [dbo].[capacitaciones]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contratos_PersonalID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Contratos_PersonalID] ON [dbo].[contratos]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contratos_TipoContratoID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Contratos_TipoContratoID] ON [dbo].[contratos]
(
	[id_tipo_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cuarentena_estado]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [idx_cuarentena_estado] ON [dbo].[cuarentena_archivos]
(
	[estado] ASC,
	[fecha_cuarentena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documentos_FechaSubida]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Documentos_FechaSubida] ON [dbo].[documentos]
(
	[fecha_subida] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documentos_PersonalID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Documentos_PersonalID] ON [dbo].[documentos]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documentos_SeccionID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Documentos_SeccionID] ON [dbo].[documentos]
(
	[id_seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documentos_TipoID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Documentos_TipoID] ON [dbo].[documentos]
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Estudios_PersonalID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Estudios_PersonalID] ON [dbo].[estudios]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialLaboral_CargoID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialLaboral_CargoID] ON [dbo].[historial_laboral]
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialLaboral_PersonalID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialLaboral_PersonalID] ON [dbo].[historial_laboral]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialLaboral_UnidadID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialLaboral_UnidadID] ON [dbo].[historial_laboral]
(
	[id_unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Licencias_PersonalID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Licencias_PersonalID] ON [dbo].[licencias]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Licencias_TipoLicenciaID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Licencias_TipoLicenciaID] ON [dbo].[licencias]
(
	[id_tipo_licencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personal_Activo]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Personal_Activo] ON [dbo].[personal]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personal_DNI]    Script Date: 4/03/2026 08:35:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Personal_DNI] ON [dbo].[personal]
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personal_Email]    Script Date: 4/03/2026 08:35:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Personal_Email] ON [dbo].[personal]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personal_Unidad]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Personal_Unidad] ON [dbo].[personal]
(
	[id_unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Solicitudes_Estado]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_Estado] ON [dbo].[solicitudes_modificacion]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_PersonalID]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_PersonalID] ON [dbo].[solicitudes_modificacion]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_UsuarioSolicitante]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_UsuarioSolicitante] ON [dbo].[solicitudes_modificacion]
(
	[id_usuario_solicitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_usuarios_bloqueado_hasta]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_bloqueado_hasta] ON [dbo].[usuarios]
(
	[bloqueado_hasta] ASC
)
WHERE ([bloqueado_hasta] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_usuarios_id_personal]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_id_personal] ON [dbo].[usuarios]
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuarios_username]    Script Date: 4/03/2026 08:35:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_usuarios_username] ON [dbo].[usuarios]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Activo]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Activo] ON [dbo].[usuarios]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Email_Unico]    Script Date: 4/03/2026 08:35:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_Email_Unico] ON [dbo].[usuarios]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Rol]    Script Date: 4/03/2026 08:35:05 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Rol] ON [dbo].[usuarios]
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bitacora] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[bitacora_bloqueos] ADD  DEFAULT (getutcdate()) FOR [fecha_bloqueo]
GO
ALTER TABLE [dbo].[bitacora_errores] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[catalogo_conceptos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[configuracion_seguridad] ADD  DEFAULT (getdate()) FOR [fecha_generacion]
GO
ALTER TABLE [dbo].[contratos] ADD  DEFAULT (getdate()) FOR [fecha_registro_auditoria]
GO
ALTER TABLE [dbo].[cuarentena_archivos] ADD  DEFAULT (getutcdate()) FOR [fecha_cuarentena]
GO
ALTER TABLE [dbo].[detalle_conceptos_trabajador] ADD  DEFAULT ((0.00)) FOR [monto]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((30)) FOR [dias_laborados]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [sueldo_basico]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [asignacion_familiar]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [bonificaciones]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [reintegros]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [total_ingresos]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [monto_pension]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [faltas_tardanzas]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [judiciales]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [otros_descuentos]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [total_descuentos]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [aporte_essalud]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [neto_pagar]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [rps]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [sctr_onp]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [sctr]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [cts]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [dias_falta]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [essalud_vida]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [renta_4ta_5ta]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [es_sindicalizado]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [desc_sindicato]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [aporte_sindicato]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [mon_aseg]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [d_viatico]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((30)) FOR [dias_computables]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [dias_subsidiados]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [horas_laboradas]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0.00)) FOR [tasa_sctr]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [d_medico]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [d_vacaciones]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [d_permisos]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [d_suspensiones]
GO
ALTER TABLE [dbo].[detalle_planilla] ADD  DEFAULT ((0)) FOR [d_otros_inasis]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (getdate()) FOR [fecha_subida]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT (newid()) FOR [archivo_guid]
GO
ALTER TABLE [dbo].[documentos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[personal] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[personal] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[planillas] ADD  DEFAULT (getdate()) FOR [fecha_apertura]
GO
ALTER TABLE [dbo].[planillas] ADD  DEFAULT ('ABIERTA') FOR [estado]
GO
ALTER TABLE [dbo].[planillas] ADD  DEFAULT ((0)) FOR [pdf_generado]
GO
ALTER TABLE [dbo].[planillas] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[record_laboral] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[record_laboral] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[solicitudes_arco] ADD  DEFAULT ('CANCELACION') FOR [tipo_solicitud]
GO
ALTER TABLE [dbo].[solicitudes_arco] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[solicitudes_arco] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[solicitudes_modificacion] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[solicitudes_modificacion] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[solicitudes_tramite] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[solicitudes_tramite] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [intentos_fallidos]
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bitacora_bloqueos]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bitacora_errores]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_errores_usuarios] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bitacora_errores] CHECK CONSTRAINT [FK_bitacora_errores_usuarios]
GO
ALTER TABLE [dbo].[capacitaciones]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[capacitaciones]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[capacitaciones]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[capacitaciones]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[tipos_contrato] ([id_tipo_contrato])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[tipos_contrato] ([id_tipo_contrato])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[tipos_contrato] ([id_tipo_contrato])
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[tipos_contrato] ([id_tipo_contrato])
GO
ALTER TABLE [dbo].[cuarentena_archivos]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[cuarentena_archivos]  WITH CHECK ADD FOREIGN KEY([revisado_por])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[detalle_conceptos_trabajador]  WITH CHECK ADD FOREIGN KEY([id_concepto])
REFERENCES [dbo].[catalogo_conceptos] ([id_concepto])
GO
ALTER TABLE [dbo].[detalle_conceptos_trabajador]  WITH CHECK ADD FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle_planilla] ([id_detalle])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalle_planilla]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Planilla] FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[detalle_planilla] CHECK CONSTRAINT [FK_Personal_Planilla]
GO
ALTER TABLE [dbo].[detalle_planilla]  WITH CHECK ADD  CONSTRAINT [FK_Planilla] FOREIGN KEY([id_planilla])
REFERENCES [dbo].[planillas] ([id_planilla])
GO
ALTER TABLE [dbo].[detalle_planilla] CHECK CONSTRAINT [FK_Planilla]
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[documentos]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [dbo].[cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [dbo].[cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [dbo].[cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [dbo].[cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_tipo_licencia])
REFERENCES [dbo].[tipos_licencia] ([id_tipo_licencia])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_tipo_licencia])
REFERENCES [dbo].[tipos_licencia] ([id_tipo_licencia])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_tipo_licencia])
REFERENCES [dbo].[tipos_licencia] ([id_tipo_licencia])
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD FOREIGN KEY([id_tipo_licencia])
REFERENCES [dbo].[tipos_licencia] ([id_tipo_licencia])
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD FOREIGN KEY([id_unidad])
REFERENCES [dbo].[unidad_administrativa] ([id_unidad])
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Cargo] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[personal] CHECK CONSTRAINT [FK_Personal_Cargo]
GO
ALTER TABLE [dbo].[record_laboral]  WITH CHECK ADD  CONSTRAINT [FK_Record_Personal] FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[record_laboral] CHECK CONSTRAINT [FK_Record_Personal]
GO
ALTER TABLE [dbo].[seccion_x_tipo_documento]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[seccion_x_tipo_documento]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[solicitudes_arco]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_arco_personal] FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[solicitudes_arco] CHECK CONSTRAINT [FK_solicitudes_arco_personal]
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_solicitante])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_revisor])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_solicitante])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_revisor])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_solicitante])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_revisor])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_solicitante])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD FOREIGN KEY([id_usuario_revisor])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_tramite]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_personal] FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[solicitudes_tramite] CHECK CONSTRAINT [FK_solicitudes_personal]
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_seccion])
REFERENCES [dbo].[legajo_secciones] ([id_seccion])
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[tipo_documento_seccion_relacion]  WITH CHECK ADD FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[tipo_documento] ([id_tipo])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_personal] FOREIGN KEY([id_personal])
REFERENCES [dbo].[personal] ([id_personal])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_personal]
GO
ALTER TABLE [dbo].[capacitaciones]  WITH CHECK ADD  CONSTRAINT [CHK_CapacitacionFechas] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[capacitaciones] CHECK CONSTRAINT [CHK_CapacitacionFechas]
GO
ALTER TABLE [dbo].[contratos]  WITH CHECK ADD  CONSTRAINT [CHK_ContratoFechas] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[contratos] CHECK CONSTRAINT [CHK_ContratoFechas]
GO
ALTER TABLE [dbo].[estudios]  WITH CHECK ADD  CONSTRAINT [CHK_EstudioFechas] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[estudios] CHECK CONSTRAINT [CHK_EstudioFechas]
GO
ALTER TABLE [dbo].[historial_laboral]  WITH CHECK ADD  CONSTRAINT [CHK_HistorialLaboralFechas] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[historial_laboral] CHECK CONSTRAINT [CHK_HistorialLaboralFechas]
GO
ALTER TABLE [dbo].[licencias]  WITH CHECK ADD  CONSTRAINT [CHK_LicenciaFechas] CHECK  (([fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[licencias] CHECK CONSTRAINT [CHK_LicenciaFechas]
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[personal]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD CHECK  (([estado]='rechazada' OR [estado]='aprobada' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD CHECK  (([estado]='rechazada' OR [estado]='aprobada' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD CHECK  (([estado]='rechazada' OR [estado]='aprobada' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[solicitudes_modificacion]  WITH CHECK ADD CHECK  (([estado]='rechazada' OR [estado]='aprobada' OR [estado]='pendiente'))
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_password_usuario]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_password_usuario]
    @username VARCHAR(50),
    @new_password_hash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE usuarios
    SET password_hash = @new_password_hash
    WHERE username = @username;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 🚀 MODIFICAMOS EL PROCEDIMIENTO EXISTENTE
CREATE PROCEDURE [dbo].[sp_actualizar_personal]
    @id_personal INT,
    @dni VARCHAR(8),
    @nombres VARCHAR(100),
    @apellidos VARCHAR(100),
    @sexo CHAR(1),
    @fecha_nacimiento DATE,
    @direccion VARCHAR(255),
    @telefono VARCHAR(20),
    @email VARCHAR(100),
    @estado_civil VARCHAR(50),
    @nacionalidad VARCHAR(50),
    @id_unidad INT,
    @fecha_ingreso DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. ACTUALIZAR TABLA DE RRHH (dbo.personal)
    UPDATE dbo.personal
    SET 
        dni = @dni,
        nombres = @nombres,
        apellidos = @apellidos,
        sexo = @sexo,
        fecha_nacimiento = @fecha_nacimiento,
        direccion = @direccion,
        telefono = @telefono,
        email = @email,
        estado_civil = @estado_civil,
        nacionalidad = @nacionalidad,
        id_unidad = @id_unidad,
        fecha_ingreso = @fecha_ingreso
    WHERE id_personal = @id_personal;

    -- 2. SINCRONIZACIÓN AUTOMÁTICA CON SISTEMAS (dbo.usuarios)
    -- Concatenamos nombres y apellidos para el campo 'nombre_completo'
    UPDATE dbo.usuarios
    SET 
        nombre_completo = @nombres + ' ' + @apellidos,
        username = @dni -- Sincronizamos también el DNI de acceso
    WHERE id_personal = @id_personal;

    -- Opcional: Retornar confirmación
    SELECT @@ROWCOUNT AS FilasAfectadas;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_rol_usuario]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_rol_usuario]
    @id_usuario INT,
    @id_rol_nuevo INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar que el usuario y el rol existan
    IF NOT EXISTS (SELECT 1 FROM usuarios WHERE id_usuario = @id_usuario)
    BEGIN
        THROW 50001, 'Error: El usuario especificado no existe.', 1;
    END

    IF NOT EXISTS (SELECT 1 FROM roles WHERE id_rol = @id_rol_nuevo)
    BEGIN
        THROW 50002, 'Error: El rol especificado no es válido.', 1;
    END

    -- Actualizar el rol del usuario
    UPDATE usuarios
    SET id_rol = @id_rol_nuevo
    WHERE id_usuario = @id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_ultimo_login]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_ultimo_login]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE usuarios
    SET ultimo_login = GETUTCDATE()
    WHERE id_usuario = @id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_alternar_estado_usuario]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Crea el procedimiento para alternar el estado (activo/inactivo) de un usuario
CREATE PROCEDURE [dbo].[sp_alternar_estado_usuario]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar que el usuario exista
    IF NOT EXISTS (SELECT 1 FROM usuarios WHERE id_usuario = @id_usuario)
    BEGIN
        THROW 50001, 'Error: El usuario especificado no existe.', 1;
    END

    -- Alternar el valor del campo 'activo'
    -- Si es 1 (activo), lo convierte en 0 (inactivo), y viceversa.
    UPDATE usuarios
    SET activo = CASE WHEN activo = 1 THEN 0 ELSE 1 END
    WHERE id_usuario = @id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cambiar_estado_laboral]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cambiar_estado_laboral]
    @personal_id INT,
    @nuevo_estado BIT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Actualizamos el estado laboral en RRHH (Legajos)
        UPDATE personal 
        SET activo = @nuevo_estado 
        WHERE id_personal = @personal_id;

        -- 2. Actualizamos el acceso en Sistemas por ID_PERSONAL directamente
        -- Esto sincroniza la cuenta aunque el username sea diferente al DNI
        UPDATE usuarios 
        SET activo = @nuevo_estado 
        WHERE id_personal = @personal_id; 

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_usuario]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Crea el procedimiento para registrar un nuevo usuario
CREATE PROCEDURE [dbo].[sp_crear_usuario]
    @username VARCHAR(50),
    @password_hash VARCHAR(255),
    @id_rol INT,
    @email VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar que el username no exista
    IF EXISTS (SELECT 1 FROM usuarios WHERE username = @username)
    BEGIN
        THROW 50003, 'Error: El nombre de usuario ya está en uso.', 1;
    END

    -- Verificar que el rol exista
    IF NOT EXISTS (SELECT 1 FROM roles WHERE id_rol = @id_rol)
    BEGIN
        THROW 50002, 'Error: El rol especificado no es válido.', 1;
    END

    -- Insertar el nuevo usuario
    INSERT INTO usuarios (username, password_hash, id_rol, email, activo, fecha_creacion)
    VALUES (@username, @password_hash, @id_rol, @email, 1, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_documento_logico]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_documento_logico]
    @id_documento INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM documentos WHERE id_documento = @id_documento AND activo = 1)
    BEGIN
        -- Se asegura de no intentar borrar algo que ya está borrado o no existe.
        THROW 50005, 'Error: El documento no existe o ya ha sido eliminado.', 1;
    END

    -- Actualiza el estado y la nueva columna de fecha de eliminación
    UPDATE documentos
    SET 
        activo = 0,
        fecha_eliminacion = GETDATE() -- <-- ¡CAMBIO CLAVE!
    WHERE 
        id_documento = @id_documento;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_documento_permanente]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_eliminar_documento_permanente]
        @id_documento INT
    AS
    BEGIN
        SET NOCOUNT ON;
        
        IF NOT EXISTS (SELECT 1 FROM documentos WHERE id_documento = @id_documento)
        BEGIN
            THROW 50007, 'Error: El documento no existe.', 1;
        END
        
        DELETE FROM documentos WHERE id_documento = @id_documento;
        
        PRINT 'Documento eliminado permanentemente.';
    END
    
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_personal]
    @id_personal INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE personal SET activo = 0 WHERE id_personal = @id_personal;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_generar_reporte_general_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_generar_reporte_general_personal]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.dni AS dni, 
        p.apellidos AS apellidos, 
        p.nombres AS nombres, 
        p.sexo AS sexo, 
        p.fecha_nacimiento AS fecha_nacimiento, 
        p.email AS email,       
        p.telefono AS telefono, 
        ua.nombre AS nombre_unidad, 
        p.fecha_ingreso AS fecha_ingreso, 
        p.activo AS activo, 
        c.nombre_cargo AS cargo, 
        tc.nombre_tipo AS tipo_contrato, 
        con.modalidad AS modalidad, 
        con.sueldo AS sueldo, 
        con.resolucion AS resolucion,
        
        -- 🔥 NUEVOS DATOS AÑADIDOS:
        con.fecha_fin AS fecha_fin, 
        dp.sistema_pensionario AS sistema_pensionario
        
    FROM 
        personal p
    LEFT JOIN unidad_administrativa ua ON p.id_unidad = ua.id_unidad
    
    -- Buscamos el último contrato (para sacar la fecha fin)
    OUTER APPLY (
        SELECT TOP 1 sueldo, resolucion, modalidad, id_cargo, id_tipo_contrato, fecha_fin 
        FROM contratos 
        WHERE id_personal = p.id_personal 
        ORDER BY fecha_inicio DESC
    ) con

    -- Buscamos la última planilla (para sacar el sistema pensionario, ONP/AFP)
    OUTER APPLY (
        SELECT TOP 1 sistema_pensionario 
        FROM detalle_planilla 
        WHERE dni_trabajador = p.dni 
        ORDER BY id_detalle DESC
    ) dp

    LEFT JOIN cargos c ON c.id_cargo = COALESCE(con.id_cargo, p.id_cargo)
    LEFT JOIN tipos_contrato tc ON tc.id_tipo_contrato = COALESCE(con.id_tipo_contrato, p.id_tipo_contrato);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_gestionar_solicitud_modificacion]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_gestionar_solicitud_modificacion]
    @id_solicitud INT, @estado_nuevo VARCHAR(20), @observaciones_revision VARCHAR(500), @id_usuario_revisor INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @id_personal INT, @campo_modificado VARCHAR(100), @valor_nuevo VARCHAR(500);
    SELECT @id_personal = id_personal, @campo_modificado = campo_modificado, @valor_nuevo = valor_nuevo
    FROM solicitudes_modificacion WHERE id_solicitud = @id_solicitud AND estado = 'pendiente';
    IF @id_personal IS NULL THROW 50009, 'Error: Solicitud no encontrada o ya procesada.', 1;
    BEGIN TRY
        UPDATE solicitudes_modificacion SET estado = @estado_nuevo, observaciones = @observaciones_revision, id_usuario_revisor = @id_usuario_revisor, fecha_revision = GETDATE() WHERE id_solicitud = @id_solicitud;
        IF @estado_nuevo = 'aprobada'
        BEGIN
            DECLARE @sql_dinamico NVARCHAR(MAX) = N'UPDATE personal SET ' + QUOTENAME(@campo_modificado) + N' = @valor_nuevo WHERE id_personal = @id_personal;';
            EXEC sp_executesql @sql_dinamico, N'@valor_nuevo NVARCHAR(500), @id_personal INT', @valor_nuevo = @valor_nuevo, @id_personal = @id_personal;
        END
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_bitacora_paginada]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_bitacora_paginada]
    @PageNumber INT, @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT b.id_bitacora, b.fecha_hora, u.username, b.modulo, b.accion, b.descripcion
    FROM bitacora b
    LEFT JOIN usuarios u ON b.id_usuario = u.id_usuario
    ORDER BY b.fecha_hora DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    SELECT COUNT(*) AS TotalRecords FROM bitacora;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_documentos_con_vencimiento]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_documentos_con_vencimiento]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        d.id_personal,
        d.id_documento,
        d.nombre_archivo,
        d.fecha_vencimiento
    FROM
        documentos d
    WHERE
        d.activo = 1
        AND d.fecha_vencimiento IS NOT NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_documentos_eliminados]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_listar_documentos_eliminados]
    AS
    BEGIN
        SET NOCOUNT ON;
        SELECT 
            d.id_documento,
            d.id_personal,
            d.nombre_archivo,
            d.fecha_subida,
            d.fecha_eliminacion,
            d.descripcion,
            d.activo,
            td.nombre_tipo AS tipo_documento,
            CONCAT(p.apellidos, ', ', p.nombres) AS nombre_personal,
            p.dni
        FROM documentos d
        LEFT JOIN tipo_documento td ON d.id_tipo = td.id_tipo
        LEFT JOIN personal p ON d.id_personal = p.id_personal
        WHERE d.activo = 0
        ORDER BY d.fecha_eliminacion DESC;
    END
    
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_documentos_por_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_documentos_por_personal]
    @id_personal INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT d.*, ls.nombre_seccion
    FROM documentos d JOIN legajo_secciones ls ON d.id_seccion = ls.id_seccion
    WHERE d.id_personal = @id_personal
    ORDER BY d.fecha_subida DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_personal_paginado]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_personal_paginado]
    @PageNumber INT = 1, @PageSize INT = 15, @DNI_Filter CHAR(8) = NULL, @Nombres_Filter VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Query NVARCHAR(MAX);
    DECLARE @WhereClause NVARCHAR(MAX) = N'';

    IF @DNI_Filter IS NOT NULL AND @DNI_Filter <> ''
        SET @WhereClause = @WhereClause + ' AND p.dni LIKE ''%'' + @DNI_Filter + ''%''';

    IF @Nombres_Filter IS NOT NULL AND @Nombres_Filter <> ''
        SET @WhereClause = @WhereClause + ' AND (p.nombres LIKE ''%'' + @Nombres_Filter + ''%'' OR p.apellidos LIKE ''%'' + @Nombres_Filter + ''%'')';

    IF LEN(@WhereClause) > 0
        SET @WhereClause = 'WHERE' + SUBSTRING(@WhereClause, 5, LEN(@WhereClause));

    SET @Query = N'
    SELECT p.id_personal, p.dni, p.nombres, p.apellidos, ua.nombre AS unidad_administrativa, p.activo
    FROM personal p JOIN unidad_administrativa ua ON p.id_unidad = ua.id_unidad ' + @WhereClause + '
    ORDER BY p.apellidos, p.nombres
    OFFSET (' + CAST(@PageNumber AS NVARCHAR(10)) + ' - 1) * ' + CAST(@PageSize AS NVARCHAR(10)) + ' ROWS
    FETCH NEXT ' + CAST(@PageSize AS NVARCHAR(10)) + ' ROWS ONLY;';

    EXEC sp_executesql @Query, N'@DNI_Filter CHAR(8), @Nombres_Filter VARCHAR(100)', @DNI_Filter, @Nombres_Filter;

    SET @Query = N'SELECT COUNT(p.id_personal) FROM personal p ' + @WhereClause;
    EXEC sp_executesql @Query, N'@DNI_Filter CHAR(8), @Nombres_Filter VARCHAR(100)', @DNI_Filter, @Nombres_Filter;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_tipos_documento_por_seccion]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_tipos_documento_por_seccion]
    @id_seccion INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        td.id_tipo,
        td.nombre_tipo
    FROM
        tipo_documento td
    JOIN
        tipo_documento_seccion_relacion tdsr ON td.id_tipo = tdsr.id_tipo_documento
    WHERE
        tdsr.id_seccion = @id_seccion
    ORDER BY
        td.nombre_tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_todos_los_usuarios]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Actualizar el Stored Procedure para incluir nombre_completo
CREATE PROCEDURE [dbo].[sp_listar_todos_los_usuarios]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        u.id_usuario, 
        u.username, 
        u.email,
        r.nombre_rol, 
        u.activo, 
        u.ultimo_login,
        COALESCE(p.nombres + ' ' + p.apellidos, 'N/A') AS nombre_completo
    FROM 
        usuarios u
    JOIN 
        roles r ON u.id_rol = r.id_rol
    LEFT JOIN 
        personal p ON u.id_personal = p.id_personal
    ORDER BY 
        u.username;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_cuarentena_pendiente]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_cuarentena_pendiente]
AS
BEGIN
    SELECT TOP 100
        id_cuarentena,
        id_usuario,
        nombre_original,
        razon_cuarentena,
        tipo_archivo_detectado,
        tamanio_bytes,
        fecha_cuarentena
    FROM cuarentena_archivos
    WHERE estado = 'PENDIENTE'
    ORDER BY fecha_cuarentena DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_documento_por_id]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_documento_por_id]
    @id_documento INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT nombre_archivo, archivo FROM documentos WHERE id_documento = @id_documento;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_estado_bloqueo]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_estado_bloqueo]
    @username NVARCHAR(50)
AS
BEGIN
    SELECT 
        id_usuario,
        username,
        intentos_fallidos,
        bloqueado_hasta,
        DATEDIFF(MINUTE, GETUTCDATE(), bloqueado_hasta) AS minutos_restantes,
        CASE 
            WHEN bloqueado_hasta IS NOT NULL AND GETUTCDATE() < bloqueado_hasta THEN 'BLOQUEADO'
            ELSE 'ACTIVO'
        END AS estado
    FROM usuarios
    WHERE username = @username;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_legajo_completo_por_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_legajo_completo_por_personal]
    @id_personal INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Result 1: Datos Personales (sin cambios)
    SELECT * FROM personal WHERE id_personal = @id_personal;
    
    -- Result 2: Estudios (sin cambios)
    SELECT * FROM estudios WHERE id_personal = @id_personal ORDER BY fecha_fin DESC;
    
    -- Result 3: Capacitaciones (sin cambios)
    SELECT * FROM capacitaciones WHERE id_personal = @id_personal ORDER BY fecha_fin DESC;
    
    -- Result 4: Contratos (sin cambios)
    SELECT c.*, tc.nombre_tipo as tipo_contrato_nombre FROM contratos c JOIN tipos_contrato tc ON c.id_tipo_contrato = tc.id_tipo_contrato WHERE c.id_personal = @id_personal ORDER BY fecha_inicio DESC;
    
    -- Result 5: Historial (sin cambios)
    SELECT hl.*, cg.nombre_cargo, ua.nombre as unidad_administrativa_nombre FROM historial_laboral hl JOIN cargos cg ON hl.id_cargo = cg.id_cargo JOIN unidad_administrativa ua ON hl.id_unidad = ua.id_unidad WHERE hl.id_personal = @id_personal ORDER BY fecha_inicio DESC;
    
    -- Result 6: Licencias (sin cambios)
    SELECT l.*, tl.nombre_tipo as tipo_licencia_nombre FROM licencias l JOIN tipos_licencia tl ON l.id_tipo_licencia = tl.id_tipo_licencia WHERE l.id_personal = @id_personal ORDER BY fecha_inicio DESC;
    
    -- Result 7: Documentos (CON LA CORRECCIÓN APLICADA)
    SELECT d.*, ls.nombre_seccion, td.nombre_tipo
    FROM documentos d
    JOIN legajo_secciones ls ON d.id_seccion = ls.id_seccion
    JOIN tipo_documento td ON d.id_tipo = td.id_tipo
    WHERE d.id_personal = @id_personal AND d.activo = 1  -- <-- ¡ESTA ES LA LÍNEA CLAVE!
    ORDER BY ls.id_seccion, d.fecha_subida DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_personal_por_id]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_personal_por_id]
    @id_personal INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM personal WHERE id_personal = @id_personal;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_usuario_por_id]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_usuario_por_id]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT u.*, r.nombre_rol, CONCAT(p.nombres, ' ', p.apellidos) AS nombre_completo, p.email, u.ultimo_login
    FROM usuarios u
    JOIN roles r ON u.id_rol = r.id_rol
    LEFT JOIN personal p ON u.username = p.dni
    WHERE u.id_usuario = @id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_usuario_por_username]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtener_usuario_por_username]
    @username VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        u.id_usuario,
        u.username,
        u.password_hash,
        u.id_rol,
        u.activo,
        u.fecha_creacion,
        u.ultimo_login,
        u.two_factor_code,
        u.two_factor_expiry,
        u.email,
        r.nombre_rol,
        CONCAT(p.nombres, ' ', p.apellidos) AS nombre_completo
    FROM 
        usuarios u
    JOIN 
        roles r ON u.id_rol = r.id_rol
    LEFT JOIN 
        personal p ON u.username = p.dni
    WHERE 
        u.username = @username;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_purga_documentos_antiguos]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_purga_documentos_antiguos]
AS
BEGIN
    SET NOCOUNT ON;

    -- Define el umbral de días para la purga
    DECLARE @dias_antiguedad INT = 10;

    -- Elimina permanentemente los documentos que cumplen la condición:
    -- 1. Están marcados como inactivos (activo = 0).
    -- 2. Tienen una fecha de eliminación registrada.
    -- 3. La diferencia en días entre hoy y la fecha de eliminación es MAYOR a @dias_antiguedad.
    DELETE FROM documentos
    WHERE 
        activo = 0
        AND fecha_eliminacion IS NOT NULL
        AND DATEDIFF(day, fecha_eliminacion, GETDATE()) > @dias_antiguedad;

    -- (Opcional) Para auditoría, puedes registrar cuántos archivos se purgaron
    -- PRINT CONCAT(@@ROWCOUNT, ' documentos han sido purgados permanentemente.');

END
GO
/****** Object:  StoredProcedure [dbo].[sp_reactivar_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_reactivar_personal]
    @id_personal INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar que el empleado exista
        IF NOT EXISTS (SELECT 1 FROM Personal WHERE id_personal = @id_personal)
        BEGIN
            RAISERROR('El empleado con ID %d no existe.', 16, 1, @id_personal);
            RETURN;
        END
        
        -- Reactivar el empleado
        UPDATE Personal
        SET activo = 1
        WHERE id_personal = @id_personal;
        
        -- Log de éxito
        PRINT 'Empleado ID ' + CAST(@id_personal AS VARCHAR(10)) + ' reactivado exitosamente.';
        
    END TRY
    BEGIN CATCH
        -- Capturar y re-lanzar errores
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_documento]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_recuperar_documento]
        @id_documento INT
    AS
    BEGIN
        SET NOCOUNT ON;
        
        IF NOT EXISTS (SELECT 1 FROM documentos WHERE id_documento = @id_documento AND activo = 0)
        BEGIN
            THROW 50006, 'Error: El documento no existe o no está marcado como eliminado.', 1;
        END
        
        UPDATE documentos
        SET 
            activo = 1,
            fecha_eliminacion = NULL
        WHERE id_documento = @id_documento;
        
        PRINT 'Documento recuperado exitosamente.';
    END
    
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_bitacora]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ACTUALIZACIÓN FINAL DEL SP PARA LA HMPP
CREATE PROCEDURE [dbo].[sp_registrar_bitacora]
    @id_usuario INT,
    @modulo NVARCHAR(50),
    @accion NVARCHAR(50),
    @descripcion NVARCHAR(MAX),
    @detalle NVARCHAR(MAX) = NULL -- El parámetro puede seguir llamándose @detalle
AS
BEGIN
    -- 🚀 CLAVE: Aquí usamos el nombre real de tu tabla: 'detalle_json'
    INSERT INTO bitacora (id_usuario, modulo, accion, descripcion, detalle_json, fecha_hora)
    VALUES (@id_usuario, @modulo, @accion, @descripcion, @detalle, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_bloqueo]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_registrar_bloqueo]
    @id_usuario INT,
    @username NVARCHAR(50),
    @intentos_fallidos INT,
    @tipo_bloqueo NVARCHAR(50),
    @fecha_desbloqueo DATETIME,
    @razon NVARCHAR(500)
AS
BEGIN
    INSERT INTO bitacora_bloqueos (
        id_usuario,
        username,
        intentos_fallidos,
        tipo_bloqueo,
        fecha_desbloqueo,
        razon
    )
    VALUES (
        @id_usuario,
        @username,
        @intentos_fallidos,
        @tipo_bloqueo,
        @fecha_desbloqueo,
        @razon
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_registrar_personal]
    @dni CHAR(8), @nombres VARCHAR(50), @apellidos VARCHAR(50), @sexo CHAR(1), @fecha_nacimiento DATE, @direccion VARCHAR(200),
    @telefono VARCHAR(20), @email VARCHAR(100), @estado_civil VARCHAR(20), @nacionalidad VARCHAR(50), @id_unidad INT, @fecha_ingreso DATE
AS
BEGIN
    SET XACT_ABORT ON;
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM personal WHERE dni = @dni)
        BEGIN
            RAISERROR('Error: El DNI ya se encuentra registrado.', 16, 1);
            RETURN;
        END
        IF @email IS NOT NULL AND @email <> '' AND EXISTS (SELECT 1 FROM personal WHERE email = @email)
        BEGIN
            RAISERROR('Error: El correo electrónico ya está en uso por otra persona.', 16, 1);
            RETURN;
        END
        INSERT INTO personal (dni, nombres, apellidos, sexo, fecha_nacimiento, direccion, telefono, email, estado_civil, nacionalidad, id_unidad, fecha_ingreso)
        VALUES (@dni, @nombres, @apellidos, @sexo, @fecha_nacimiento, @direccion, @telefono, @email, @estado_civil, @nacionalidad, @id_unidad, @fecha_ingreso); 
        SELECT SCOPE_IDENTITY() AS NewPersonalID;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        ;THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_solicitar_modificacion_personal]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Crea el procedimiento para registrar una nueva solicitud de modificación
CREATE PROCEDURE [dbo].[sp_solicitar_modificacion_personal]
    @id_personal INT,
    @id_usuario_solicitante INT,
    @campo_modificado VARCHAR(100),
    @valor_anterior VARCHAR(500),
    @valor_nuevo VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar que el personal exista
    IF NOT EXISTS (SELECT 1 FROM personal WHERE id_personal = @id_personal)
    BEGIN
        THROW 50004, 'Error: El registro de personal no existe.', 1;
    END

    -- Insertar la solicitud en estado 'pendiente'
    INSERT INTO solicitudes_modificacion
        (id_personal, id_usuario_solicitante, fecha_solicitud, campo_modificado, valor_anterior, valor_nuevo, estado)
    VALUES
        (@id_personal, @id_usuario_solicitante, GETDATE(), @campo_modificado, @valor_anterior, @valor_nuevo, 'pendiente');
END
GO
/****** Object:  StoredProcedure [dbo].[sp_subir_documento]    Script Date: 4/03/2026 08:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_subir_documento]
    @id_personal INT, @id_tipo INT, @id_seccion INT, @nombre_archivo VARCHAR(200), @fecha_emision DATE, @fecha_vencimiento DATE,
    @descripcion VARCHAR(500), @archivo VARBINARY(MAX), @hash_archivo VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM personal WHERE id_personal = @id_personal) THROW 50007, 'Error: Personal no encontrado.', 1;
    IF NOT EXISTS (SELECT 1 FROM tipo_documento WHERE id_tipo = @id_tipo) THROW 50008, 'Error: Tipo de documento no encontrado.', 1;
    BEGIN TRY
        INSERT INTO documentos (id_personal, id_tipo, id_seccion, nombre_archivo, fecha_emision, fecha_vencimiento, descripcion, archivo, hash_archivo)
        VALUES (@id_personal, @id_tipo, @id_seccion, @nombre_archivo, @fecha_emision, @fecha_vencimiento, @descripcion, @archivo, @hash_archivo);
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
USE [master]
GO
